[user]
	name = Ryosuke Shinozaki
	email = ryshinoz@gmail.com
	signingkey = 993DACEE
[http]
	sslVerify = true
[core]
	editor = vim
	excludesfile = /Users/usr0200343/.gitignore.global
[github]
	user = ryshinoz
[alias]
    tree = log --graph --all --format=\"%x09%C(green bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[push]
	default = simple
[ghq]
	root = ~/src
[gpg]
	program = gpg2
[commit]
	gpgsign = true
